name: prettier
on: [pull_request]

jobs:
  build:
    name: Lint Code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
      - name: Run install
        uses: borales/actions-yarn@v4
        with:
          cmd: install # will run `yarn install` command
      - name: Run prettier
        uses: borales/actions-yarn@v4
        with:
          cmd: prettier # will run `yarn prettier` command
